<!--
    Ce fichier est celui qui crée la table des matières
    Pour le moment le fichier en question est sous-ligné
    Les thèmes sont en gras
-->
<ul class="w3-ul">
    <% for(const theme of subjectContent.themes) { 
        let newTheme = true;
    %>

    <% for (const lesson of subjectContent.lessons) {
            const path = 
                rootPath
                + "/"
                + subjectContent.id
                + "/"
                + lesson.id.replace('/', '')  
                + "/"
                + lesson.id.substring(lesson.id.length - 2, lesson.id.length) 
                + ".html";
             if ((lesson.level.includes(currentLevel) || currentLevel == "0") && lesson.theme === theme.id) { 
             if (newTheme) {
        newTheme = false;   
    %>
    <li class="w3-padding-small">
        <b>
            <%= theme.title %>
        </b>
    </li>
    <% } %>
    <li class="w3-padding-small w3-hover-grey">
        <a href=<%= path.split(' ').join('%20') %>>
            <%= lesson.title %>
        </a>
    </li>
    <% 
    }
    } 
    }
    %>
</ul>